@font-face {
  font-family: costumfont;
  src: url(../fonts/JosefinSans-Regular.ttf);
}
body  {
	font-family: costumfont;;
	margin:0;
}
/* loading massage */
.load {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
/* -- */
.main {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/*style for the cover and logo */
.cover {
  background-color: grey;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background: url(../images/logo.png);
  background-size: cover;
  padding: 10%;
  height: 10px;
  margin-bottom: 50px;
}

/* title text and bio */
.text-section {
 border-radius: 20px 20px 0 0;
 margin-top: -40px;
 box-shadow: 0 0 10px black;
}
.title {
 background: #13272c;
 color: white;
 display: flex;
 flex-direction: column;
 text-align: center;
 border-radius: 20px 20px 0 0;
}
.title-text {
  padding: 10px;
  padding-top: 20px;
}
#title-name {
  font-size: 40px;
}
#title-bio {
  color: #a6a6a6;
  font-size: 13px;
  line-height: 17px;
  padding: 5px;
  margin-top: -15px;
  margin-left: 20px;
  margin-right:20px;
}
#the-line {
  background: #a6a6a6;
  width: 40px;
  height: 2px;
  border-radius: 5%;
  margin: auto;
}

/* the tags */
.tags-div {
  display: grid;
  text-align: center;
  margin-top: 10px;
}
.tags {
  display: inline-block;
  margin-top: 3px;
}
.tags-span {
  background: #50787a;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 1px;
  padding-inline: 5px;
}
/*building up msg*/
.building {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 50px;
}
.building i {
  font-size: 26px;
  border: 1px dotted white;
  border-radius: 50%;
  padding: 8px;
}
.building span {
  font-size: 12px;
}
/*
@media only screen and (min-width: 760px) {
  body {
    background-color: lightblue;
  }
}
*/
