@font-face {
  font-family: quanslim;
  src: url(QuanSlim-Bold.ttf);
}
body{
	background: black;
	padding: 0;
	margin: 0;
	font-family: quanslim;
}
#main{
	margin: auto;
	width: 100%;
	position:absolute;
	top: 40%;
	display: flex;
	justify-content:center;
}
#intro{
	background: black;
}
#intro p{
	color: white;
	text-align: center;
	font-size: 300%;
	font-family:quanslim;
	font-weight: 10%;
}

#note{
	display:none;
}
#note h1{
	border: 1px solid black;
	background: cyan;
	color: black;
	letter-spacing: 10px;
}
#note:hover{
        animation-name: shake;
        animation-duration: 0.8s;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

@media only screens and (max-width: 640px){
	intro{
		font-size: 500%;
                text-shadow: 5px 5px cyan;
	}
}
