@font-face {
  font-family: quanslim;
  src: url(fonts/QuanSlim-Bold.ttf);
}
body{
	background: black;
	padding: 0;
	margin: 0;
	font-family: quanslim;
}
#main{
	margin: auto;
	width: 100%;
	position:absolute;
	top: 50%;
	display: flex;
	justify-content:center;
}
#intro{
	background: black;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
}
#intro p{
	color: white;
	text-align: center;
	font-size: 300%;
	font-family:quanslim;
	font-weight: 10%;
	position:absolute;
	top: 40%;
}

#note{
	display:none;
}
#note h1{
	border: 1px solid black;
	background: cyan;
	color: black;
	letter-spacing: 10px;
}