<!DOCTYPE html>
<html>
  <head>
    <title>Mr.TeraByte</title>

    <meta charset="utf-8" />
    <meta name="keywords" content="MrTeraByte,TeamTerabyte,Saz" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no,user-scalable=no"
    />

    <!-- scripts -->
    <script
      src="https://kit.fontawesome.com/d00f9d52fa.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="../js/anime.min.js"></script>
    <script src="../js/script.js"></script>

    <!-- stylesheets -->
    <link rel="icon" href="../images/favicon.gif" type="image/png" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preload" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- preloading the background image -->
    <link rel="preload" href="../images/bg.png" as="image" />
    <link rel="preload" href="../images/logo-removedbg.png" as="image" />

  </head>

  <body>
    <div class="resize-warning">
      <div class="resize-warning-icon">
        <i class="fa-solid fa-arrows-left-right-to-line"></i>
      </div>

      <div class="resize-warning-text">
        <h1>
          Please <a href="/" style="color: white">Navigate</a> to desktop view
        </h1>
        <h2>
          You are on the mobile page, Navigate to the desktop page for better
          experience or resize your window as like a mobile screen!
        </h2>
      </div>
    </div>

    <div class="main">
      <div class="cover">
        <div class="logo"></div>
      </div>

      <div class="text-section">
        <div class="title">
          <span class="title-text" id="title-name">
            <a href="?dist=about"> Mr.Terabyte </a>
          </span>
          <span class="title-text" id="title-bio">
            <a href="?dist=about">
              <span>Frontend web developer</span>
              <br />
              <span id="location"
                ><i class="fa-solid fa-location-dot"></i> Dhaka,
                Bangladesh</span
              >
            </a>
          </span>
          <span id="the-line"></span>
        </div>

        <div class="tags-div">
          <div class="tags">
            <span class="tags-span fading-tag">#Web</span>
          </div>

          <div class="tags">
            <span class="tags-span left-tag">#React</span>
            <span class="tags-span right-tag">#Next</span>
          </div>

          <div class="tags">
            <span class="tags-span left-tag">#Vite</span>
            <span class="tags-span fading-tag">#Node</span>
            <span class="tags-span right-tag">#Git</span>
          </div>

          <div class="tags">
            <span class="tags-span left-tag">#Firebase</span>
            <span class="tags-span right-tag">#Docker</span>
          </div>

          <div class="tags">
            <span class="tags-span fading-tag">#Typescript</span>
          </div>
        </div>

        <div class="other-pages">
          <a href="?dist=about">
            <i class="fa-solid fa-circle-info"></i>
            About me
          </a>

          <a href="?dist=projects">
            <i class="fas fa-laptop-code"></i>
            Projects
          </a>

          <a href="mailto:mrterabyte@yahoo.com">
            <i class="fa-solid fa-envelope"></i>
            Send me some words
          </a>
        </div>
      </div>
    </div>

    <div class="about">
      <div class="greetings">
        <span>Hi,</span>
        <span>I am</span>
      </div>

      <div class="lines">
        <span></span>
        <span></span>
      </div>

      <div class="name">MR.Terabyte</div>

      <div class="description">
        <p>
          A skilled frontend developer with a passion for crafting exceptional
          digital experiences. I'm proficient in
          <span>HTML, CSS, and JavaScript</span>, leveraging frameworks like
          <span>React</span> and <span>Next.js</span> to build dynamic and
          user-friendly web applications. With a keen eye for design and a focus
          on user experience, I strive to create visually appealing and highly
          functional websites. My expertise extends to a range of technologies,
          including <span>Git, GitHub</span>, and <span>Docker</span>, which I
          utilize to streamline development workflows and ensure efficient
          project delivery. I'm committed to staying up-to-date with the latest
          web development trends, and I'm excited to collaborate on projects
          that push the boundaries of digital innovation. Beyond my technical
          skills, I'm a dedicated and detail-oriented professional who values
          clear communication and effective teamwork. I'm eager to contribute my
          skills and knowledge to your next project.
        </p>
      </div>

      <div class="lines" style="float: left; margin-top: 8%">
        <span style="transform: translate(0, 0)"></span>
        <span style="transform: translate(20px, 10px)"></span>
      </div>

      <div class="contactLink">
        <a href="mailto:mrterabyte@yahoo.com">Contact</a>
        <i class="fas fa-angle-double-right"></i>
      </div>

      <div class="go-back">
        <a href="javascript:history.go(-1)"> < back</a>
      </div>
    </div>

    <div class="projects">
      <div class="greetings">
        <span>my</span>
      </div>

      <div class="lines">
        <span></span>
        <span></span>
      </div>

      <div class="name">Projects</div>

      <div class="description projects-desc">
        <span id="project-name">-Typing test app</span>
        <span id="project-desc">A simple typing test app made with react</span>
        <span id="live-link">
          <a href="https://typing-test-45a8.onrender.com" target="_blank"
            ><i class="fa-solid fa-globe"></i
          ></a>
          <a href="https://github.com/MrTeraByte/Typing-test" target="_blank"
            ><i class="fa-brands fa-github"></i></a
        ></span>
      </div>

      <div class="lines" style="float: left; margin-top: 8%">
        <span style="transform: translate(0, 0)"></span>
        <span style="transform: translate(20px, 10px)"></span>
      </div>

      <div class="contactLink">
        <a href="mailto:mrterabyte@yahoo.com">Contact</a>
        <i class="fas fa-angle-double-right"></i>
      </div>

      <div class="go-back">
        <a href="javascript:history.go(-1)"> < back</a>
      </div>
    </div>
  </body>
</html>
